// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'customize-bootstrap';
@import '~bootstrap/scss/bootstrap';

// Vendor plugin files 
@import 'bootstrap-datetimepicker.min';
@import 'notify';
@import 'pace';
@import 'jqvmap';
@import 'bootstrap-notifications';

//Admin Panel Essentials
@import 'panelStyles/panelApp';
@import 'panelStyles/helpers';

//Admin Panel Components
@import 'component/header';
@import 'component/sidebar';

@import 'sweetalert';

@import 'user-profile';




//*****************Own Styles*************************
html, body {
    background-color: #fff;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.entries-height{
	height: 400px;

}

.card-body{
	overflow-y: scroll;
}
.row-height{
	max-height: 400px;
}

.link-edit{
	position:absolute;
	top:0;
	right:0;
}
.app-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
}